yarn-error.log
.DS_Store
combined.log
error.log
node_modules/
npm-debug.log
npm-debug.log.*
*.code-workspace
thumbs.db
!.gitkeep
dlts_viewer_content
resources/*.json
resources/maps/*.json
resources/photos/*.json
resources/pages/*.json
resources/multivolume/*.json
resources/series/*.json
resources/books/*.json
resources/manifests/*.json
.env
dist
