yarn-error.log
.DS_Store
combined.log
error.log
node_modules/
npm-debug.log
npm-debug.log.*
*.code-workspace
thumbs.db
!.gitkeep
public/dlts_viewer_content
public/resources/*.json
public/resources/pages/*.json
public/resources/multivolume/*.json
public/resources/books/*.json
public/resources/manifests/*.json
.env
dist

